.input-feild{
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 5px;
}
.item-cart{
   display: flex;
   width: 300px;
   margin-bottom: 30px;
   box-shadow: 5px 5px 5px 5px gray;
   border-radius: 5px;
}
.card-div-img{
    height: 50px;
    width: 50px;
    border-radius:100%;
    margin-left:10px;
}
.detail-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.detail-close-btn{
  margin-left: 680px;
}